/** COLOR PALETTE:
  *
  * Background: #F5F5F5 (GREY 100)
  * Primary Text: black
  *
  * Primary color: #3F51B5 (INDIGO)
  * Primary color_text : white
  * Accent color: #CDDC39 (LIME)
  * Accent color_text: black
  */

/* GLOBAL */

* {
    font-family: Roboto, 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}



body {
    background-color: #F5F5F5;
}

button, strong {
    text-transform: uppercase;
}

/* LAYOUT */

#channels {
    position: absolute;
    height: 100%;
    width: 40%;

    background-color: #3F51B5; /* temporary background color to see the effect, is completely hidden now */
}

#chat {
    position: absolute;
    height: 100%;
    width: 60%;
    left: 40%;
}

#messages {
    position: absolute;
    width: 100%;
    top: 64px;
    bottom: 72px;
    overflow-y: auto;
}

/* APP BAR */

h1 {
    background-color: #3F51B5;
    color: white;

    /* app-bar: general settings for both bars */
    height: 64px;
    font-size: 20px;
    font-weight: 500;

    /* app-bar spacing */
    box-sizing: border-box;
    padding: 24px 16px 20px 16px;

    /* MOOCUS image alignment */
    position: relative; /* we need this, so that the image's absolute position is relative to the app bar */
}

h1#left-app-bar {
    padding-left: 72px;
}

h1#left-app-bar img {
    position: absolute;
    left: 16px;
    bottom: 0;
}

h1 a {
    color: white;
}

#bar-star {
    /* #7 #icns #str  */
    position:absolute;
    right: 16px;
    /* #7 #icns #small adjust icon size */
    font-size:24px;
}

/* CHANNELS LIST */

ul {
    list-style-type: none;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 64px; /* the app bar's height */
    bottom: 72px; /* the tab bar's height */
    overflow-y: auto; /* this adds scroll bars on demand */
}

li {
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    border-bottom: 1px solid #F5F5F5;
    position: relative;
}

li .channel-meta {
    /* right-align channel-meta icons */
    position: absolute;
    right: 16px;
    top: 12px;

    /* #8 #channel #centered blue boxes */
    display:flex;
}

li .channel-meta span {
    /* #8 #channel #boxes for the additional metadata */
    /* color */
    background-color: #3F51B5;
    color: white;
    /* appearance */
    margin: 2px;
    padding: 2px;
    border-radius: 2px;
    font-size: 10px;

    /* #8 #channel #centered blue boxes' text content */
    align-self:center;
}

li i.fas, li i.far  {
    /* #7 #icns #small in channels view */
    font-size: 24px;
    padding-left: 4px;
}


li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

/* TAB BAR */

#tab-bar, #chat-bar {
    background-color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

#tab-bar button, #chat-bar button {
    border-radius: 0%;
    width: 33%;
    height: 72px;
    padding: 16px;

    /* flexify the buttons by growing them equally */
    flex-grow: 1;
}

#tab-bar button.selected {
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}

#tab-bar button i {

    display: block;
    font-size: 24px;
    margin: 0 auto 4px auto;
}



#chat-bar button {

    width: auto;
    flex-grow: 0;

    font-size: 24px;
}

#emojis {
    /* emoji menu */
    /* colors and borders */
    background-color:white;
    border: none;

    /* size & alignment */
    position: absolute;
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    left: 16px;
    top: -284px;
    padding: 16px;

    /* font and left-align text */
    text-align: left;
    font-size: 28px;

    /* scroll when it has too many emojis */
    overflow-y: auto;

    /* hide the #smile menu */
    display: none;
}

/* #8 #input #styles for font, border, and alignment */
#chat-bar input {
    /* styles */
    font-size: 16px;
    border: none;
    /* alignment */
    flex-grow: 1;
}

/* MESSAGES */

.message {
    width: 80%;
    margin-bottom: 8px;
    margin-left: 2.5%;
    position: relative;
    box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.message h3 {
    /* Message-meta medium-sized text, non-italic */
    font-size: medium;

    /* messages distribute metadata content evenly with flexbox */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.message h3 a {
    /* What3words link is primary test */
    color: black;

    width: 30%;
}

.message h3 em {
    /* Larger text, non-italic*/
    font-size: larger;
    font-style: normal;

    width: 20%;
    text-align: right;
}

.message p {
    background-color: white;
    padding: 16px;
}

.message button {
    /* +5 min. button*/
    /* right/bottom alignment of button */
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.message.own {
  /* margin-left: 17.5%;*/
   margin-left: calc(20% - 20px);
}

button{
    padding: 0px 16px;
    margin: 8px;
    background-color: white;
    border: none;
    color:black;
    text-transform: capitalize;
    border-radius: 8px;
    height:36px;
    min-width: 64px;
    font-size: 15px;
    }

.primary{
    background-color: #3F51B5;
    color: white;
}

.accent{
background-color: #CDDC39;
color: black;
}


/*THANKS TO
Scott Rota
https://stackoverflow.com/questions/30533055/calculating-shadow-values-for-all-material-design-elevations*/
.shadow-2dp {
    box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12); }

.shadow-24dp {
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
        0px 24px 38px 3px rgba(0, 0, 0, 0.14),
        0px 9px 46px 8px rgba(0, 0, 0, 0.12); }

.fabut{
display:block;
height: 56px;
width: 56px;
line-height:56px;
border-radius: 28px;
font-size:24px;
border: none;
text-align: center;
text-decoration: none;
color:black;
font-weight: bold;
background-color: #CDDC39



}

#plusbutton{
position: absolute;
bottom: 116px; /*72+16+56/2*/
right: 44px; /*16+56/2*/
z-index: 1;
}

#abort{
    display: none;
    background-color: #3F51B5;
    position: absolute;
    right: 0%; 
    top: 4px; /*64px/2-56px/2*/
    line-height: 100%;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 0px;
    width:10%;
}

#newChannel{
display: none;
width: 85%;
margin: 12px ;
height: 40px;
position: absolute;
top: 0%;
border-radius: 5px;
border: none;
}
#createButton{
    display: none;
}
